@model IEnumerable<KinoCatalog.Models.Actor>

@{
    ViewData["Title"] = "Index";
}

<head>
    <style>
        /* Стиль для заголовков */
        h1 {
            color: BurlyWood;
        }

        /* Класс для элементов таблицы */
        th,
        td.burlywood-text {
            color: BurlyWood;
        }
    </style>
</head>

<body>
    <h1>Главный актер</h1>

    <p>
        <a asp-action="Create">Создать новый</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="burlywood-text">
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td class="burlywood-text">
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ActorID">Редактировать</a> |
                        <a asp-action="Details" asp-route-id="@item.ActorID">Детали</a> |
                        <a asp-action="Delete" asp-route-id="@item.ActorID">Удалить</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>